{% extends "layout/base.html" %}

{% block 'title'%} info {% endblock %}

{% block 'content' %}
<div class="text-center mt-5">
    <div class="container">
      <h1>info</h1>  
      <p>"La seguridad de tus cuentas en línea es fundamental en el mundo digital actual. 
        Una contraseña segura es tu primera línea de defensa contra el acceso no autorizado a tus datos. 
        Al crear contraseñas, es importante utilizar una combinación de letras mayúsculas y minúsculas, 
        números y caracteres especiales para aumentar la complejidad y la seguridad. Recuerda que nunca debes 
        compartir tus contraseñas con nadie y es recomendable cambiarlas periódicamente. Nuestra aplicación te 
        permite generar contraseñas seguras de forma rápida y sencilla para que puedas proteger tus cuentas con 
        tranquilidad.</p>
    </div>  
</div>
{% endblock %}